<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <staticContent>
            <remove fileExtension=".otf" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
        </staticContent>
    </system.web>
</configuration>
